:root{
    --bg-color: #ecf0f3;
    --bottom-right-shadow: #1e1f22;
    --top-left-shadow:#ffffff;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
    margin-bottom: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #0077b6;
    color: white;
    box-shadow: 6px 6px 12px lightgray, -6px -6px 12px black;
}
.logo-name{
    font-size: 30px;
    -webkit-text-stroke: 2px black;
}
.navigation-links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: large;
}
.navigation-links a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px wheat;
}
.booking-title{
    font-size: 30px;
    color: #023e8a;
    -webkit-text-stroke: 1px black;
    text-align: center;
}
.results{
    padding-left: 30px;
    padding-right: 30px;
}
.flight-card{
    background: white;
    margin: 10px 0;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    transition: 3s;
    box-shadow: 4px 9px 10px rgba(0, 0, 0, 0.4);
    animation: float 6s ease-in-out infinite;
}
.flight-card:hover{
    transform: scale(2.05);
}
@keyframes float {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}
footer{
    background: lightblue;
    color: #0c0c0c;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}
footer p{
    font-weight: bold;
    font-size: large;
    margin-top: 0;
}